/*-----------------------------------------------------------------------
- Reset
-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*-----------------------------------------------------------------------
- Fonts
-----------------------------------------------------------------------*/
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins.woff2") format("woff2");
}
/*-----------------------------------------------------------------------
- Generals
-----------------------------------------------------------------------*/
body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #f2f2f3;
}

html {
  scroll-padding-top: 85px;
}

main {
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-container, .page-not-found .general-404 .message-404, .page-not-found .general-404, .cart .cart-total, .cart .cartGrid .cart-options, .cart, .productMainGrid .product-desc, .productMainGrid .product-img .product-small-imgs, .productMainGrid .product-img, .product-grid, .product-order, .login .log-access, .login, #contact .contact-info div, #contact .contact-info, #contact .contact-content, #clients .clients-content, #us .us-content .us-content-left, #us .us-content, .featured-products .features-product-list, .product, footer .foot .contact-links div, footer .foot, header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flex-row, .page-not-found .general-404 .message-404, .cart .cart-total, .cart .cartGrid .cart-options, .productMainGrid .product-img .product-small-imgs, .product-grid, .product-order, .login .log-access, #contact .contact-info div, #contact .contact-info, #contact .contact-content, #clients .clients-content, #us .us-content, .featured-products .features-product-list, footer .foot .contact-links div, footer .foot, header .navbar {
  flex-flow: row wrap;
}

.flex-col, .page-not-found .general-404, .cart, .productMainGrid .product-desc, .productMainGrid .product-img, .login, #contact .contact-content .contact-form, #us .us-content .us-content-left, .product {
  flex-flow: column wrap;
}

.row-evenly, .page-not-found .general-404 .message-404, .cart .cart-total, .cart .cartGrid .cart-options, .productMainGrid .product-img .product-small-imgs, .product-grid, .product-order, .login .log-access, #contact .contact-info, #contact .contact-content, #clients .clients-content, #us .us-content, .featured-products .features-product-list, footer .foot {
  justify-content: space-evenly;
}

.row-start, footer .foot .contact-links div {
  justify-content: flex-start;
}

.col-evenly, .page-not-found .general-404, .cart {
  align-items: space-evenly;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0px;
  font-weight: bold;
}

.title {
  text-align: center;
  padding: 60px 0px 30px 0px;
}

.after-nav {
  margin-top: 85px;
}

.home-sections, #contact, #clients, #us, .featured-products {
  margin: 15px 0px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.contact-img {
  height: 30px;
  width: 30px;
}

.margin {
  margin: 10px;
}

/*-----------------------------------------------------------------------
- Buttons
-----------------------------------------------------------------------*/
.btn-outline-secondary {
  background-color: white;
  color: black;
}
.btn-outline-secondary:hover {
  border: 1px solid rgb(53, 52, 52);
}

/*-----------------------------------------------------------------------
- Navbar
-----------------------------------------------------------------------*/
header {
  background-color: #7f8c8d;
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0;
  z-index: 999;
}
header .navbar {
  max-width: 1400px;
  height: 85px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}
header .navbar .logo {
  height: 60px;
  width: 150px;
  object-fit: cover;
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
}
@media (max-width: 768px) {
  header .navbar ul {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #7f8c8d;
    margin: 0px;
    right: -300px;
    gap: 20px;
    padding-top: 30px;
    padding-left: 0px;
    border-left: 1px solid white;
    transition: 0.5s;
  }
  header .navbar ul:hover {
    right: 0px;
  }
}
header .navbar ul li {
  text-decoration: none;
  display: block;
}
header .navbar a {
  color: white;
  margin: 10px;
  vertical-align: middle;
}
header .navbar a:hover {
  color: black;
  font-weight: 900;
}
header .navbar input {
  margin: 10px;
  vertical-align: middle;
}
header .navbar .carrito {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
header .navbar .carrito:hover {
  content: url(../multimedia/img/cart-hover.png);
}
header .navbar .notificaciones {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
header .navbar .notificaciones:hover {
  content: url(../multimedia/img/bell-hover.png);
}
header .navbar .search {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #7f8c8d;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .navbar .search {
    display: none;
  }
}
@media (max-width: 768px) {
  header .navbar .search {
    width: 90%;
  }
}
header .navbar .menu-hamburguesa {
  display: none;
  height: 45px;
  width: 45px;
}
@media (max-width: 768px) {
  header .navbar .menu-hamburguesa {
    display: block;
  }
  header .navbar .menu-hamburguesa:hover + ul {
    right: 0px;
  }
}

/*-----------------------------------------------------------------------
- Footer
-----------------------------------------------------------------------*/
footer {
  background-color: #7f8c8d;
  padding: 15px 0px 15px 0px;
}
footer .foot {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}
footer .foot .logo {
  height: 60px;
  width: 150px;
  object-fit: cover;
}
footer .foot input {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #7f8c8d;
  padding: 0px 10px;
}
footer .foot .social img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
footer .foot .newsletter-form label {
  display: block;
}
/*-----------------------------------------------------------------------
- Product Card
-----------------------------------------------------------------------*/
.product {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #c2c0c4;
  transition: 0.5s;
  color: black;
  position: relative;
}
.product:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  transform: translate(0px, -0.3rem);
}
.product img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px 5px 0px 5px;
}
.product h4,
.product h5 {
  padding: 10px 0px 0px 0px;
}
.product .add-cart {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: white;
  visibility: hidden;
  transition: 0.1s;
}
.product:hover > .add-cart {
  visibility: visible;
}

/*-----------------------------------------------------------------------
- Home Banner
-----------------------------------------------------------------------*/
.banner img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*-----------------------------------------------------------------------
- Featured Products
-----------------------------------------------------------------------*/
.featured-products {
  background-color: #e9e7e9;
}
/*-----------------------------------------------------------------------
- Nosotros
-----------------------------------------------------------------------*/
#us {
  background-color: #e9e7e9;
  text-align: center;
}
#us .us-content img {
  max-width: 500px;
  min-width: 290px;
  width: 50%;
  object-fit: cover;
}
#us .us-content p {
  width: 100%;
}
#us .us-content .us-content-left {
  width: 50%;
  align-content: center;
}
#us .us-content .us-content-left img {
  width: 100%;
}

/*-----------------------------------------------------------------------
- Clientes
-----------------------------------------------------------------------*/
#clients {
  background-color: #e9e7e9;
}
#clients .clients-content img {
  width: 15%;
  min-width: 200px;
  height: 90px;
  object-fit: contain;
  padding: 0px 5px 0px 5px;
}

/*-----------------------------------------------------------------------
- Contacto
-----------------------------------------------------------------------*/
#contact {
  background-color: #e9e7e9;
}
#contact p {
  text-align: center;
}
#contact .contact-content .contact-form {
  min-width: 290px;
  width: 50%;
}
#contact .contact-content .contact-form input {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #7f8c8d;
  height: 35px;
  justify-content: center;
  align-items: center;
}
#contact .contact-content .contact-form textarea {
  margin: 10px 0px 10px 0px;
  padding: 5px 10px;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #7f8c8d;
}
#contact .contact-content .contact-form form {
  padding: 10px;
}
#contact .contact-content iframe {
  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
  margin-right: 10px;
  width: 45%;
  min-width: 290px;
  height: 500px;
}
/*-----------------------------------------------------------------------
- Log In
-----------------------------------------------------------------------*/
.login label {
  text-align: left;
  width: 50%;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .login label {
    width: 80%;
  }
}
.login button {
  margin: 10px;
  min-height: 40px;
  padding: 10px 30px;
  width: 50%;
}
@media (max-width: 768px) {
  .login button {
    width: 80%;
  }
}
.login input {
  margin: 10px;
  min-height: 40px;
  padding: 10px 30px;
  width: 50%;
}
@media (max-width: 768px) {
  .login input {
    width: 80%;
  }
}
.login .log-email {
  padding-top: 30px;
  border-top: 1px solid black;
}
.login .log-access {
  align-items: stretch;
  width: 50%;
}
.login .log-access button {
  width: 43%;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .login .log-access button {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .login .log-access {
    width: 80%;
  }
}

/*-----------------------------------------------------------------------
- Mochilas
-----------------------------------------------------------------------*/
.product-order {
  justify-content: right;
}
.product-order select {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #7f8c8d;
  margin-right: 10px;
}

/*-----------------------------------------------------------------------
- Product Page
-----------------------------------------------------------------------*/
.productMainGrid {
  display: grid;
  grid-template-areas: "productImages productDescription";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
@media (max-width: 768px) {
  .productMainGrid {
    grid-template-areas: "productImages" "productDescription";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
.productMainGrid .product-img {
  grid-area: productImages;
  margin-top: 30px;
  justify-content: flex-start;
}
.productMainGrid .product-img > img {
  max-width: 100%;
  min-width: 250px;
  border-radius: 10px;
  object-fit: cover;
  max-height: 2000px;
}
.productMainGrid .product-img .product-small-imgs img {
  max-width: 33%;
  min-width: 70px;
  border-radius: 10px;
  margin-top: 20px;
  object-fit: cover;
  padding: 5px;
}
.productMainGrid .product-desc {
  grid-area: productDescription;
  margin-top: 30px;
  justify-content: flex-start;
  align-items: start;
  padding: 10px;
}
@media (max-width: 768px) {
  .productMainGrid .product-desc {
    margin-top: 0px;
  }
}
.productMainGrid .product-desc .titles {
  width: 100%;
  text-align: center;
}
.productMainGrid .product-desc p {
  margin: 10px 0px;
}
.productMainGrid .product-desc input,
.productMainGrid .product-desc button {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}

/*-----------------------------------------------------------------------
- Cart
-----------------------------------------------------------------------*/
.cart .cartGrid {
  display: grid;
  grid-template-areas: "cartImg cartDesc cartOpt";
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: auto;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .cart .cartGrid {
    grid-template-areas: "cartImg cartDesc" "cartImg cartOpt";
    grid-template-columns: 1fr 2fr;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .cart .cartGrid {
    grid-template-areas: "cartImg" "cartDesc" "cartOpt";
    grid-template-columns: auto;
    width: 80%;
  }
}
.cart .cartGrid .cart-img {
  grid-area: cartImg;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
.cart .cartGrid .cart-img img {
  height: 200px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .cart .cartGrid .cart-img img {
    height: 150px;
  }
}
.cart .cartGrid .cart-desc {
  grid-area: cartDesc;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
@media (max-width: 576px) {
  .cart .cartGrid .cart-desc {
    margin-top: 10px;
  }
}
.cart .cartGrid .cart-options {
  grid-area: cartOpt;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
@media (max-width: 768px) {
  .cart .cartGrid .cart-options {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .cart .cartGrid .cart-options {
    margin-top: 10px;
  }
}
.cart .cartGrid .cart-options input {
  width: 30%;
  text-align: center;
  height: 40px;
  font-size: 1.2rem;
}
.cart .cart-total {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 2px solid black;
}

/*-----------------------------------------------------------------------
- 404
-----------------------------------------------------------------------*/
.page-not-found {
  max-width: 100vw;
  height: 100vh;
  background-color: #7f8c8d;
}
.page-not-found .general-404 {
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
.page-not-found .general-404 .message-404 {
  gap: 20px;
  font-size: 2rem;
}

/*# sourceMappingURL=styles.css.map */
