/*-----------------------------------------------------------------------
- 404
-----------------------------------------------------------------------*/

.page-not-found {
    max-width: 100vw;
    height: 100vh;
    background-color: $bg-header-footer-color;
    .general-404 {
        height: 100%;
        width: 100%;
        @extend .flex-container;
        @extend .flex-col;
        @extend .col-evenly;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        .message-404 {
            @extend .flex-container;
            @extend .flex-row;
            @extend .row-evenly;
            gap: 20px;
            font-size: 2rem;
        }
    }
}
