/*-----------------------------------------------------------------------
- Buttons
-----------------------------------------------------------------------*/

.btn-outline-secondary {
    background-color: white;
    color: black;
    &:hover {
        border: 1px solid rgb(53, 52, 52);
    }
}
