/*-----------------------------------------------------------------------
- Log In
-----------------------------------------------------------------------*/

.login {
    @extend .flex-container;
    @extend .flex-col;
    label {
        text-align: left;
        width: 50%;
        margin-top: 15px;
        @media (max-width: 768px) {
            width: 80%;
        }
    }
    button {
        margin: 10px;
        min-height: 40px;
        padding: 10px 30px;
        width: 50%;
        @media (max-width: 768px) {
            width: 80%;
        }
    }
    input {
        margin: 10px;
        min-height: 40px;
        padding: 10px 30px;
        width: 50%;
        @media (max-width: 768px) {
            width: 80%;
        }
    }
    .log-email {
        padding-top: 30px;
        border-top: 1px solid black;
    }
    .log-access {
        @extend .flex-container;
        @extend .flex-row;
        @extend .row-evenly;
        align-items: stretch;
        width: 50%;
        button {
            width: 43%;
            margin-top: 15px;
            @media (max-width: 768px) {
                width: 80%;
            }
        }
        @media (max-width: 768px) {
            width: 80%;
        }
    }
}
